{% extends 'base.html' %}

{% block content %}

<h4 class='display-4'>Log in</h4>
<p class='lead'>Welcome! Please log in.</p>

{% for msg in get_flashed_messages() %}
<div>{{ msg }}</div>
{% endfor %}

<form method='POST'>
    {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}
    <button type='submit'>Log in</button>


</form>

{% endblock %}