{% extends 'base.html' %}

{% block content %}


<div id='loginWrap'>


    <div id='loginForm'>
        <div>
            <form>
                <label for='username'>Username:</label>
                <input type='text' name='username'>
                <label for='password'>Password:</label>
                <input type='password' name='password'>
                <button>Login</button>
            </form>
        </div>
    </div>
    <div id='createAcc'>

        <div>
            <span>Doesn't have an account?</span>
            <button>Create Account</button>
        <div>

    </div>
</div>




{% endblock %}